:root {
    --BannerHeight: 50px;
    
  }

#NotificationBarContainer{
background-color:white;
width: 100%;
height: var(--BannerHeight);
position: sticky;
top: 0px;
display: flex;
align-content: center;
justify-content: center;
z-index: 10;
}

#NotificationBarText{
    
    line-height: var(--BannerHeight);
    color:  #0072b1;
    align-self: center;
    text-decoration: none;
  }
  
  .intro-linkedin-text{
    font-weight: 300;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-top: 21px;
    margin-right: 7px;
}

.linkedin-text{

  font-weight: 700;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size: x-large ;
}

#NotificationBarCloseBtn{
position: fixed;
right: 15px;
top: 4px;
cursor: pointer;
z-index: 15;
width: 30px;
height: 30px;
}

#NotificationBarCloseBtn p{
    color: #0072b1;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 4px;
    font-weight: 700;
    text-align: center;

    /* padding-bottom: 3px; */
    }

.Disabled{
  display: none;
background-color:wheat;
}
      
@media only screen and (max-width: 600px) {
  #NotificationBarText{
    /* font-size: large; */
}
}

@media only screen and (max-width: 450px) {
  #NotificationBarText{
    /* font-size: medium; */
}
}

@media only screen and (max-width: 420px) {
  #NotificationBarText{
    /* font-size: small  ; */
    /* here text should just go double spaced */
}
} 

@media only screen and (max-width: 349px) {
  #NotificationBarText{
    /* font-size: x-small  ; */
}
} 