#container-scroll-reveal{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
    overflow: hidden;
    margin-top: 20px;
}

.scroll-reveal-element {
    transition: ease-in-out 1s;
    opacity: 0;  
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: rgb(77, 77, 77);
}   

#sub-container-scroll-reveal{
    display: flex;
    flex-direction: column;
}

#sub-container-scroll-reveal p,h1 {
    height: fit-content;
    padding: 0;
    margin: 0;
    width: 340px;
}

#sub-container-scroll-reveal img{
    border-radius: 25px;
    width: 340px;
}

#sub-container-scroll-reveal button{
    border-radius: 25px;
    align-self: flex-end;
    background-color: aliceblue;
    transition: 6s;
}

.left-scroll-reveal-start{
transform: translateX(-320px) ;
text-align: right;
}

.right-scroll-reveal-start{
    transform: translateX(320px) ;
    text-align: left;
}

.btn-reveal-start{
    transform: translateX(150px); 
    }

.reveal{
    opacity: 1 !important;
    transform: translateX(10px) scale(100%) ;
}



/* At 800, rescale the images */
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    #sub-container-scroll-reveal p {
      font-size: small;
      width: 90%;
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 690px) {
    /* For mobile phones: */
    #sub-container-scroll-reveal p {
      width: 80%;
      margin-right: 10px;
    }
  }

  
  @media only screen and (max-width: 60px) {
    /* For mobile phones: */

    }
  


#testdiv-length{
    height: 2000px;
    background-color: rgb(255, 255, 255);
}