#container-scroll-reveal{
    /* background-color: tomato; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 30px;
    overflow: hidden;

    margin-top: 20px;
}

.scroll-reveal-element {
    transition: ease-in-out 2.5s;
    opacity: 0;  
    height: 400px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-reveal-element img{
    height: 100%;
    border-radius: 15px;
}

.scroll-reveal-element p{
    width: 100%;
}

#testing-text{
    color: white;
    height: fit-content;

}

.left-scroll-reveal-start{
transform: translateX(-320px) scale(120%);
transform: translateX(-320px) ;
text-align: right;
}

.right-scroll-reveal-start{
    /* transform: translateX(320px) rotateZ(40deg); */
    /* transform: translateX(320px) scale(170%); */
    transform: translateX(320px) ;
    text-align: left;
}

.show-right{
    opacity: 1 !important;
    /* transform: translateX(10px) rotateZ(0deg); */
    transform: translateX(10px) scale(100%);
}

.show-left{
    opacity: 1 !important;
    transform: translateX(10px) rotateZ(0deg);
    transform: translateX(10px) scale(100%);
}

