@import url('https://fonts.googleapis.com/css?family=Abel');



.center {
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
}

.card {
  width: 450px;
/* width: 30%; */
  height: 250px;
  /* background-color: #fff; */
  /* background: linear-gradient(#f8f8f8, #fff); */
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
}

.card h1 {
  text-align: center;
  font-size: x-large;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  /* background: linear-gradient(#bebebe4e, #ffffff00); */
  /* background: linear-gradient(#dE685E, #EE786E); */
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

/* .card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
} */


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .leftPanel {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .leftPanel::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

/* .techused was removed from the one below */
/* maybe remove level? */
.card .additional .leftPanel .level,
.card .additional .leftPanel .techused  {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.techused{
background-color: yellowgreen;
}

/* .levelgithub{
  top: 22%;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
} */

.card .additional .leftPanel .techused {
  top: 85%;
}

.card .additional .leftPanel svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}



.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats  {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .containerBackOfCard {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  
}

.card .containerBackOfCard .more {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  font-size: 0.9em;
}



.PhonePreview{
    width: 90%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
   
}

.icon{
    width: 40px;
    opacity: 50%;
}

.BLUE{
  background-color: blue;
}


/* /////////////////////// */



.maincardcontainer{
display: flex;
align-content: center;
flex-direction: column;
align-items: center;
/* background-color: yellow; */

}

.links{
    text-decoration: none;
    display: block;
    text-align: center;
    /* margin: 0 auto ; */
    color: #fff;

}

.ProjCardTechList{
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.ProjCardTechList p{
    background-color: rgba(0, 0, 0, 0.134);
    /* margin: 0 auto; */
    margin: 4px;
    /* text-align: center; */
    border-radius: 8px;
    width: fit-content;
    padding: 0px 15px 0px 15px;
    
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

h1{
    margin-top: 0.3em;

}

h4{  
    text-align: center;
    color: #fff;
    font-size: medium;
    font-weight: 700;
    margin-top: 0.5em;
}

 /* {
    background-color: rgba(0, 0, 0, 0.134);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: whitesmoke;
} */

.ProjCardDescContainer, .stats{
  background-color: rgba(0, 0, 0, 0.134);
  /* border-style: solid; */
  border-width: 2px;
  border-radius: 10px;
  border-color: whitesmoke;
  width: 270px;
  margin-top: 0.7em;
  margin-left: auto;
  margin-right: auto;
}

.leftPanel{
    align-content: center;
}

.title{
    font-weight: 100;
}

/* might not need 'center' */