:root {
}

#NavBar-Container {
  width: 100%;
  height: 60px;
  background-color: rgb(66, 66, 66);
  /* background-image: url('NavBarBanner.svg'); */
  /* opacity: 0.25; */
  /* background-color: var(--palepink); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#Navbar-Mobile {
  display: none;
  height: 50px;
  width: 50px;
}

#bufferTool {
  height: 0px;
  display: none;
}

#NavBar-LeftSection,
#NavBar-RightSection {
  height: 60px;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 4rem;
  align-items: center;
  color: #69ffed;
  font-size: x-large;
  justify-content: center;
  cursor: pointer;
}

.NavLink-Text {
  color: #ffa6c1;
  transition: 0.5s;
  text-decoration: none;
}

/* turn this off to go back to left> right underline */
.NavLink-Container {
  display: grid;
  justify-items: center;
}

.NavLink-Underline {
  width: 0px;
  height: 3px;
  transition: 0.5s;
  /* border-radius: 5px; */
  background-color: #e2cbff;
  margin-top: -21px;
}

.NavLink-Container:hover .NavLink-Text {
  color: #aaff75;
  /* font-size: 105%; */
}

.NavLink-Container:hover .NavLink-Underline {
  color: #426a65;
  width: 100%;
  /* height: 5px; */
  color: #426a65;
}

#NavBar-Logo {
  width: 100px;
  height: 100px;
  color: #3e3e3e;
  /* background-color: #3e3e3e; */
  fill: #3e3e3e;
}

@media only screen and (max-width: 1000px) {
  #NavBar-Container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 630px) {
  #NavBar-Container {
    background-color: rgb(5, 1, 5);
    position: fixed;
  }
  #NavBar-LeftSection {
    display: none;
  }

  #Navbar-Mobile {
    display: block;
  }
  #bufferTool {
    height: 100px;
    display: block;
  }
}