#cvContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: yellowgreen; */
}

#downloadCVbtn{
    position: fixed;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    width: 150px;
    height: 150px ; 
    /* padding: 20px; */
    right: 2%;
    bottom: 3%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    line-height: 150px;
}

#pdf-frame{
    border-radius: 15px;
    height: 1190px;
    width: 850px;
    /* height: auto; */

    /* width: 50vw; */
}

/* 
@media only screen and (max-width: 1180px) {
    #pdf-frame{
    width: 70vw;
  }}
 */
  
@media only screen and (max-width: 850px) {
    #pdf-frame{
    width: 98vw;
    height: 100vh;
    /* width: 0px; */
  }}
